
<ba-sidebar></ba-sidebar>
<ba-page-top></ba-page-top>
<div class="al-main">
	<div class="al-content">
		<ba-content-top></ba-content-top>
		<router-outlet></router-outlet>
	</div>
</div>
<footer class="al-footer clearfix">	
	<div class="al-footer-main clearfix">
		<div class="al-copy">
			&copy; <a href="#" translate>Criado por Vladmir Lima</a>
			2017
		</div>
		<ul class="al-share clearfix">
			<li><a href="https://www.facebook.com/vladmir.lima"><i class="socicon socicon-facebook"></i></a></li>			
			<li><a href="https://plus.google.com/u/0/105602351204775243626"><i class="socicon socicon-google"></i></a></li>
			<li><a href="https://github.com/vladmir-lima"><i class="socicon socicon-github"></i></a></li>
		</ul>
	</div>
</footer>
<ba-back-top position="200"></ba-back-top>