<h2>Pessoa Jurídica Detail</h2>
<h3>
	<i>FormControl in a FormGroup</i>
</h3>
<form [formGroup]="customerForm" novalidate>
	<ba-card cardTitle="Dados básicos" baCardClass="with-scroll">
	<div class="form-group">
		<label class="center-block">Name: <input class="form-control" formControlName="pessoaJuridica.razaoSocial">
		</label>
	</div>
	
	<div formArrayName="addresses" class="well well-lg">
			<div *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i">
			 <!-- The repeated address template -->
			    <h4>Address #{{i + 1}}</h4>
			    <div style="margin-left: 1em;">
			      <div class="form-group">
			        <label class="center-block">cep:
			          <input class="form-control" formControlName="cep">
			        </label>
			      </div>
			</div>
		</div>
	</div>
	<button (click)="addAddress()" type="button">Add a Address</button>
	</ba-card>
</form>
<p>Form value: {{ customerForm.value | json }}</p>
<p>Form status: {{ customerForm.status | json }}</p>