<div class="widgets">   
   
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

      <ba-card baCardClass="banner-column-panel">
        <div class="banner">
          <div class="large-banner-wrapper">
            <img src="{{ ( 'app/home/bg-masthead.jpg' | baAppPicture ) }}" width="20" height="20" alt=""/>
          </div>
          <div class="banner-text-wrapper">
            <div class="banner-text">
              <h1>Portal do engenheiro</h1>

              <p>Faça o seu planejamento aqui</p>

              <p>e crie novas oportunidades para o mercado!</p>
            </div>
          </div>
        </div>
        <div class="section">
          <h2>Realce a sua empresa</h2>

          <div class="row">
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/home/bg-showcase-1.jpg' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>Utilize quando e onde você quiser, independente de qual dispositivo que esteja sendo utilizado! 
              Hoje, a tecnologia avança rapidamente e você deve estar conectado nela.</p>
            </div>
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/home/bg-showcase-2.jpg' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>Seja organizado e realce a sua empresa no mercado!</p>
            </div>
          </div>

          <div class="separator"></div>

          <div class="row">
            <div class="col-sm-4">
              <h4>Tempo é dinheiro</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/home/bg-showcase-3.jpg' | baAppPicture ) }}" alt=""/></div>
              <p>Utilize o seu tempo para ganhar dinheiro, não desperdice-o com futilidades! 
              Aqui você encontra meios ágeis para planejar o futuro de suas obras.</p>             
            </div>
            <div class="col-sm-4">
              <h4>Os funcionários agradecem</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/home/engenharia-da-qualidade.jpg' | baAppPicture ) }}" alt=""/></div>
              <p>Deixe os seus funcionários satisfeitos, trabalhando de uma forma prática e moderna!</p>              
            </div>
            <div class="col-sm-4">
              <h4>Gerencie os seus gastos e lucros</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/home/engenharia-lucro.jpg' | baAppPicture ) }}" alt=""/></div>
              <p>Veja em tempo real o resultado financeiro de sua empresa!</p>
              
            </div>
          </div>
          <div class="separator"></div>
        </div>
      </ba-card>
    </div>
  </div>

</div>
