  <form>
	 <div class="row">
		  <div class="col-md-4">
		    <div class="form-group">
		      <label for="cep">CEP</label>
		      <input type="text" [(ngModel)]="endereco.cep" class="form-control" id="cep" placeholder="cep">
		    </div>
		  </div>	
		  <div class="col-md-4">
		    <div class="form-group">
		      <label for="cidade">Cidade</label>
		      <input type="text" [(ngModel)]="endereco.cidade" class="form-control" id="cidade" placeholder="Cidade">
		    </div>
		  </div>
		  <div class="col-md-4">
		    <div class="form-group">
		      <label for="bairro">Bairro</label>
		      <input type="text" [(ngModel)]="endereco.bairro" class="form-control" id="bairro" placeholder="Bairro">
		    </div>
		  </div>
	</div>
	
	<div class="row">
		  <div class="col-md-4">
		    <div class="form-group">
		      <label for="numero">Número</label>
		      <input type="text" [(ngModel)]="endereco.numero" class="form-control" id="numero" placeholder="Número">
		    </div>
		  </div>
		  <div class="col-md-4">
		    <div class="form-group">
		      <label for="lote">Lote</label>
		      <input type="lote" [(ngModel)]="endereco.lote" class="form-control" id="lote" placeholder="Lote">
		    </div>
		  </div>		 
	</div>
	  <div class="row">
	  <div class="col-md-6">
	    <div class="form-group">
	      <label for="logradouro">Logradouro</label>
	      <input type="text" [(ngModel)]="endereco.logradouro" class="form-control" id="logradouro" placeholder="Logradouro">
	    </div>
	  </div>
	  <div class="col-md-6">
	    <div class="form-group">
	      <label for="complemento">Complemento</label>
	      <input type="text" [(ngModel)]="endereco.complemento" class="form-control" id="complemento" placeholder="Complemento">
	    </div>
	  </div>
	</div>	
</form>
 