<div class="widgets">
	<ba-card cardTitle="Cadastro de Despesas por Obra" baCardClass="with-scroll">
	<form [formGroup]="expenseCustomerForm">
		<div class="row">
			<div class="col-md-12">
				<div formGroupName="expenseCustomer">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div formGroupName="work">
									<label for="work">Obra</label> <select formControlName="id" id="obra" alt="Obra" name="Obra"
										class="form-control required"
									>
										<option *ngFor="let c of works" [ngValue]="c.id">{{c.description}}</option>
									</select>
									<show-errors [control]="obra"></show-errors>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="form-group">
									<div formGroupName="expense">
										<label for="expense">Tipo de Despesa</label> <select formControlName="id" id="despesa" alt="Depesa" name="Depesa"
											class="form-control required"
										>
											<option *ngFor="let c of expenses" [ngValue]="c.id">{{c.descricao}}</option>
										</select>
										<show-errors [control]="despesa"></show-errors>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="description">Descrição da Despesa</label> <input type="text" alt="Descrição" name="Descrição"
									formControlName="description" class="form-control required" id="description" placeholder="Descrição da Despesa"
								>
								<show-errors [control]="description"></show-errors>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="value">Valor</label> <input type="text" alt="Valor" name="Valor" formControlName="value" currencyMask
									[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control required" id="value"
									placeholder="Valor da Despesa"
								>
								<show-errors [control]="value"></show-errors>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="invoice">Nota Fiscal/Recibo</label> <input type="text" alt="Nota Fiscal/Recibo" name="Nota Fisca/Recibo"
									formControlName="invoice" class="form-control" id="invoice" placeholder="Nota Fiscal / Recibo"
								>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="initialDate">Data Inicial</label> <input type="text" alt="Data Inicial" formControlName="initialDate"
									bsDatepicker [bsConfig]="dpConfig"  #dp="bsDatepicker" class="form-control required" id="initialDate" placeholder="Data Inicial"
								>
								<show-errors [control]="initialDate"></show-errors>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="finalDate">Data Final</label> <input type="text" alt="Data Final" formControlName="finalDate" bsDatepicker
									[bsConfig]="dpConfig"  #dp="bsDatepicker" class="form-control required" id="finalDate" placeholder="Data Final"
								>
								<show-errors [control]="finalDate"></show-errors>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="row">
			<div class="col-md-6">
				<button [disabled]="!expenseCustomerForm.valid" type="submit" (click)="onsubmit()" class="btn btn-primary">Enviar</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<custom-expense-customer-list></custom-expense-customer-list>
			</div>
		</div>
	</form>
	</ba-card>
</div>
<p>Form value: {{ expenseCustomerForm.value | json }}</p>
<p>Form status: {{ expenseCustomerForm.status | json }}</p>
