<div class="widgets">
	<ba-card title="Basic Example" baCardClass="with-scroll" class="data-table-container">
	<div class="row">
		<div class="col-sm-2">
			<label class="label-control">Linhas por página</label> <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
				<option [ngValue]="5">5</option>
				<option [ngValue]="10">10</option>
				<option [ngValue]="15">15</option>
			</select>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<label class="col-sm-12 label-control">Ordenar por</label>
			</div>
			<div class="row">
				<div class="offset-sm-1 col-sm-5">
					<div class="row">
						<select class="form-control input-sm" [(ngModel)]="sortBy">
							<option ngValue="razaoSocial">Razão Social</option>
							<option ngValue="email">Email</option>
							<option ngValue="cnpj">Cnpj</option>
							<!--  <option [ngValue]="sortByWordLength">City</option> -->
						</select>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-5">
					<div class="row">
						<select class="form-control input-sm" [(ngModel)]="sortOrder">
							<option ngValue="asc">Ascendente</option>
							<option ngValue="desc">Descendente</option>
							<option ngValue="badValue">Valores Errados</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row pull-right">
		<button type="button" routerLink="../register-costumer" class="btn btn-primary">Novo Cliente</button>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Clientes cadastrados</div>
		<table class="table table-striped" [mfData]="pessoas | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
			[(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"
		>
			<thead>
				<tr>
					<th colspan="5">Filtro por Razão Social: <input class="form-control" [(ngModel)]="filterQuery" />
					</th>
				</tr>
				<tr>
					<th style="width: 10%"></th>
					<th style="width: 20%"><mfDefaultSorter by="razaoSocial">Razão Social</mfDefaultSorter></th>
					<th style="width: 40%"><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
					<th style="width: 10%"><mfDefaultSorter by="cnpj">Cnpj</mfDefaultSorter></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of mf.data">
					<td>
						<button (click)="remove(item)" class="btn btn-danger glyphicon glyphicon-remove"></button> <a
						routerLink="../update-costumer/{{item.id}}"
					> <span class="badge">{{item.id}}</span> {{item.razaoSocial}}
					</a>
					</td>
					<td>{{item.razaoSocial}}</td>
					<td>{{item.email}}</td>
					<td class="text-right">{{item.cnpj}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5"><mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator></td>
				</tr>
			</tfoot>
		</table>
	</div>
	</ba-card>
</div>