
<div class="widgets">
	<ba-card cardTitle="Cadastro de cliente" baCardClass="with-scroll">
	<form [formGroup]="customerForm">
		<div class="row">
			<div class="col-md-12">
				<div formGroupName="pessoaJuridica">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="cnpj">CNPJ</label> <input type="text" mask="99.999.999/9999-99" formControlName="cnpj" class="form-control  required" id="cnpj"
									placeholder="Cnpj"
								>	
								<show-errors [control]="cnpj"></show-errors>																
							</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="razaoSocial">Razão Social</label> <input type="text" formControlName="razaoSocial" class="form-control"
									id="razaoSocial" placeholder="Razão Social"
								>
								<show-errors [control]="razaoSocial"></show-errors>		
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nomeFantasia">Nome Fantasia</label> <input type="text" formControlName="nomeFantasia" class="form-control"
									id="nomeFantasia" placeholder="Nome Fantasia"
								>
								<show-errors [control]="nomeFantasia"></show-errors>		
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="divEmail">Email</label>
							<div class="input-group" id="divEmail">
								<span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">@</span> <input type="email"
									formControlName="email" class="form-control" id="email" placeholder="Email"
								>										
							</div>
							<show-errors [control]="email"></show-errors>	
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inscricaoEstadual">Inscrição Estadual</label> <input type="text" formControlName="inscricaoEstadual"
									class="form-control" id="inscricaoEstadual" placeholder="Inscrição Estadual"
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="row">
			<div class="col-md-12">
				<div formGroupName="address">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="cep">CEP</label> <input type="text" mask="99999-999" formControlName="cep" class="form-control" id="cep" placeholder="cep">
								<show-errors [control]="cep"></show-errors>		
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="cidade">Cidade</label> <input type="text" formControlName="cidade" class="form-control" id="cidade"
									placeholder="Cidade"
								>
								<show-errors [control]="cidade"></show-errors>		
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="bairro">Bairro</label> <input type="text" formControlName="bairro" class="form-control" id="bairro"
									placeholder="Bairro"
								>
								<show-errors [control]="bairro"></show-errors>		
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="numero">Número</label> <input type="text" numberOnly formControlName="numero" class="form-control" id="numero"
									placeholder="Número"
								>
								<show-errors [control]="numero"></show-errors>		
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="lote">Lote</label> <input type="text" formControlName="lote" class="form-control" id="lote"
									placeholder="Lote"
								>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="logradouro">Logradouro</label> <input type="text" formControlName="logradouro" class="form-control"
									id="logradouro" placeholder="Logradouro"
								>
								<show-errors [control]="logradouro"></show-errors>		
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="complemento">Complemento</label> <input type="text" formControlName="complemento" class="form-control"
									id="complemento" placeholder="Complemento"
								>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<button [disabled]="!customerForm.valid" type="submit" (click)="onsubmit()" class="btn btn-primary">Enviar</button>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	</ba-card>
</div>
<p>Form value: {{ customerForm.value | json }}</p>
<p>Form status: {{ customerForm.status | json }}</p>



